* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #c5b8c5;
    padding: 40px 20px;
}

.equipe {
    max-width: 1200px;
    margin: auto;
}

.equipe h1 {
    text-align: center;
    color: #1f2937;
    margin-bottom: 10px;
}

.descricao {
    text-align: center;
    color: #6b7280;
    margin-bottom: 40px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.card {
    width: 260px;
    background-color: rgb(241, 226, 241);
    border-radius: 15px;
    padding: 25px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.card h2 {
    color: #1f2937;
    margin-bottom: 5px;
}

.card h3 {
    color: #95699b;
    font-size: 16px;
    margin-bottom: 12px;
}

.card p {
    color: #4b5563;
    font-size: 14px;
    margin-bottom: 20px;
}

.card button {
    background-color: #831fa1c0;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.card button:hover {
    background-color: #3b0f42b4;
}

@media (max-width: 600px) {
    .card {
        width: 100%;
        max-width: 300px;
    }
}