@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Parisienne&family=Rye&family=Tangerine:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Parisienne&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Rye&family=Tangerine:wght@400;700&family=Updock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Gwendolyn:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Parisienne&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Rye&family=Tangerine:wght@400;700&family=Updock&display=swap');
body {
 background-color:rgb(221, 203, 206) ;
 
}

h1 {
    font-family: "Rye";
     color: darkred;
      text-align: justify;
      text-shadow: 2px 2px 4px black;
     
    
}


h2{
font-family: "Gwendolyn";
font-size: 40px;
}

p{
    font-family:"Montserra" ;
     text-align: justify;
     font-size: 18px;
}

p{
    font-family:"Montserra" ;
    font-size: 18px;
}

p{
    font-family:"Montserra" ;
    font-size: 18px;
}





imagem {
            width: 300px;       /* largura */
            height: 200px;      /* altura */
            
            object-fit: cover;  /* corta a imagem sem deformar */
            
            display: block;
            margin: auto;       /* centraliza */
        }




        form{
    background-color: rgb(219, 182, 199);
    padding: 50px;
    margin: 50px auto;
    width: 300px;
    border-radius: 30px;
    box-shadow: 0 4px 20px black;
}

input{
    padding: 20px;
    margin: 10px 0;
    border: 1px solid rgb(172, 181, 181);
    border-radius: 8px;
}

button{
    padding: 20px;
    margin-top: 5px;
    background-color: rgb(199, 152, 175);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    box-shadow:0 4px 10px black
}

button:hover {
background-color: rgb(106, 82, 97);
}
