:root{
    --cor-primaria: rgb(188, 80, 96);
    --cor-secudaria: lightpink;
    --cor-fundo: rgb(255, 232, 235);
    --cor-texto: rgb(0, 0, 0);
    --cor-branca: white;

    --fonte-pricipal: Arial, sans-serif;

    --borda-radius: 10px;
    --sombra: 0 4px 10px rgb(40, 39, 39);

}

body{
    margin: 0;
    padding: 0;
    font-family: var(--fonte-pricipal);
    background-color: var(--cor-fundo);
    color: var(--cor-texto);

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.caixa{
    background-color: var(--cor-branca);
    padding: 30px;
    border-radius: var(--borda-radius);
    box-shadow: var(--sombra);
    text-align: center;
    width: 300px;
}

button{
    background-color: var(--cor-primaria);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: var(--borda-radius);
    cursor: pointer;
}

h1{
    color: var(--cor-primaria);
}



